body{
    /*box-sizing: border-box;*/
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #5bc0de ,#1b6d85,#0f0f0f);
    background-size: cover;
    /*overflow: hidden;*/
}
.custom-container{
    color: black;
}
.sub-custom-container{
    /*height: auto;*/
    margin-top: 10px;
    background: black;
    height: auto;
    /*border: 1px solid white;*/
}
.world-map-visual{
    margin-top: 5px;
    border: 1px solid black;
}
.gamechat-container{
    margin-top: 5px;
    padding: 0 0 10px 0;
    border: 1px solid black;
    height: auto;
    background-color: darkgoldenrod;
    width: 108%;
}
.gamechat-container-header{
    color: white;
    padding: 5px;
    background-color: #262626;
}
.gamechat-container-body{
    min-height: 370px;
    max-height: 370px;
    background-color: white;
    overflow: auto;
    margin-top: 7px;
    margin-left: 7px;
    width:95%;
}

.chat-box-container{
    margin-left:-23px;
    margin-top: 8px;
    width: 88%;
}
.gamechat-container{
    margin-left: -20px;
}
.chat-send-container{
    margin-left: -22px;
    margin-top: 8px;
}
.player-panel-container{
    margin-top: 10px;
    padding: 0;
    width: 100.2%;
    border: 1px solid black;
    height: 160px;
    background-color: darkgoldenrod;
    display: inline-block;
}
.general-avatar{
    margin-top: 10px;
    margin-right: 0;
    width: 100%;
    min-height: 140px;
    max-height: 140px;
    border: 1px solid black;
    overflow: hidden;
    padding: 0;
}
.general-mini-map{
    margin-top: 10px;
    width: auto ;
    height: auto;
    padding: 0 0 0 0;
}

.general-mini-map table tbody tr td{
    font-size: 2px;
    height: 2.019vh;
    width: 1.2vh;
}
.general-mini-map table tbody tr td form input{
    outline: none;
    height: 2vh;
    width: 1.2vh;
}
.cell-button{
    height: 100%;
    width:100%;
    background-color: #2e6da4;
}
.cell-button:hover{
    background-color: red;
}

.general-input-zone{
    margin-top: 10px;
    width: 100%;
    height: auto;
    border: 1px solid black;
    padding: 0;
}

#decode{
    background: #2e6da4;
}
.general-navigators{
    margin-top: 10px;
    width: 100%;
    min-height: 140px;
    max-height: 140px;
    border: 1px solid black;
    overflow: hidden;
    padding: 0;
}
.navigators-container img{
    width: 100px;
    height: 100px;
}
.general-dice{
    margin-top: 10px;
    width: 100%;
    min-height: 140px;
    max-height: 140px;
    border: 1px solid black;
    overflow: hidden;
}
table.map{
    margin: 0;
    background-size: cover;
    background-image: url("phpgameassets/img/8-bit-google-maps-2.jpg");
    background-repeat: no-repeat;
}
div.world-map-visual{
    overflow: hidden;
}
td{
    width: 98px;
    height: 46px;
    text-align: center;
}
table tr td{
     border: #0f0f0f solid 1px;
 }
