*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body, html{
    width: 100%;
    height: 100%;
    font-family: "Times New Roman", sans-serif;
}
.section-top{
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
    background-image: url("../img/galaxy/image-1.jpg");
    background-repeat:  no-repeat;
    background-size: cover;
    animation: slide 20s infinite ease-in;
}

@keyframes slide {
    0%{
        background-image: url("../img/galaxy/image-1.jpg");
    }
    25%{
        background-image: url("../img/galaxy/image-2.jpg");
    }
    50%{
        background-image: url("../img/galaxy/image-3.jpeg");
    }
    75%{
        background-image: url("../img/galaxy/image-4.jpeg");
    }

    100%{
        background-image: url("../img/galaxy/image-5.jpg");
    }

}
.background-dimmer{
    width: 100%;
    height: 100%;
    background: rgba(15,15,15,0.9);
}
.content .col-md-12 .col-md-7{
    margin: 200px 0;
    text-transform: uppercase;
    text-align: center;
}

.content .col-md-12 .col-md-7 span{
    color: white;
    font-size: 60px;
    letter-spacing: 20px;
}

.content .col-md-12 .col-md-7 img{
    width: 100px;
    height: 100px;
    text-align: center;
}

.content linklink{
    background: none;
    border: 1px solid deepskyblue;
    padding: 10px 24px;
    font-weight: bolder;
    color: deepskyblue;
    text-decoration: none;
    font-size: 15px;
    line-height: 24px;
    cursor: pointer;
    border-radius: 5px;
    transition: 2s ease-im;
}
.content .linklink:hover{
    cursor: pointer;
    text-decoration: none;
    color: snow;
    border: 1px snow solid;
    background: deepskyblue;
}
.sub-text{
    font-size: 20px;
    text-transform: uppercase;
    color: whitesmoke;
    padding-bottom: 10px;
    letter-spacing: 10px;
}
.text::before{
    content: 'CIPHERAMA';
    position: absolute;
    mix-blend-mode: inherit;
    filter: blur(1px);
}
.logo-container text{
    display: inline-flex;
    filter: brightness(200%);

}

.dodge{
    background: radial-gradient(circle, white, black 35%) center / 25% 25%;
    position: absolute;
    top: 100%;
    left: 100%;
    right: 0;
    bottom: 0;
    mix-blend-mode: color-dodge;
    animation: dodge-area 3s linear infinite;
}
@keyframes dodge-area {
    to{
        transform: translate(50%, 50%);
    }
}

.bubbles{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    top: 0;
    left: 0;
}
.bubbles-dimmer{
    width: 100%;
    height: 100%;
    background: rgba(15,15,15, 0.2);
}
.bubble{
    position: absolute;
    bottom: 0;
    z-index: 1;
    background: #62c1ff;
    border-radius: 50%;
    opacity: 0.1;
    animation: flying 10s infinite ease-in;
}
.bubble:nth-child(1){
    width: 40px;
    height: 40px;
    left: 10%;
    animation-duration: 10s;
}
.bubble:nth-child(2){
    width: 35px;
    height: 35px;
    left: 50%;
    animation-duration: 9s;
    animation-delay: 0s;
}
.bubble:nth-child(3){
    width: 30px;
    height: 30px;
    left: 90%;
    animation-duration: 12s;
    animation-delay: 0s;
}
.bubble:nth-child(4){
    width: 45px;
    height: 45px;
    left: 5%;
    animation-duration: 15s;
}
.bubble:nth-child(5){
    width: 50px;
    height: 50px;
    left: 25%;
    animation-duration: 5s;
    animation-delay: 0s;
}
.bubble:nth-child(6){
    width: 80px;
    height: 80px;
    left: 80%;
    animation-duration: 6s;
}
.bubble:nth-child(7){
    width: 60px;
    height: 60px;
    left: 69%;
    animation-duration: 15s;
}
.bubble:nth-child(8){
    width: 15px;
    height: 15px;
    left: 36%;
    animation-duration: 12s;
    animation-delay: 0s;
}
.bubble:nth-child(9){
    width: 40px;
    height: 40px;
    left: 10%;
    animation-duration: 10s;
}
.bubble:nth-child(10){
    width: 57px;
    height: 57px;
    left: 57%;
    animation-duration: 5s;
    animation-delay: 0s;
}
.bubble:nth-child(11){
    width: 20px;
    height: 20px;
    left: 22%;
    animation-duration: 15s;
}
@keyframes flying {
    0%{
        bottom: -100px;
        transform: translateX(0);
    }
    50%{
        transform: translateX(100px);
    }
    100%{
        bottom: 1080px;
        transform: translateX(-200px);
    }

}
.test{
    border: 1px solid white;
    width: 100%;
    height: auto;
}

.form-container{
    margin-top: 160px;
    background: rgba(251, 255, 255, 0.1);
    border: 1px solid white;
    width: 10%;
    height: auto;
    border-radius: 10px;
    padding: 10px 20px;
}
.login-form{
    opacity: 2;
    color: white;
    align-content: center;
    align-items: center;
    width: 460px
}
.login-form h3{
    font-size: 40px;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px white solid;
}
.btn-login{
    padding: 5px 10px;
    border: 1px deepskyblue solid;
    background: none;
    border-radius: 5px;
    color: deepskyblue;
    font-weight: bolder;
    text-decoration: none;
}
.btn-login:hover{
    background: deepskyblue;
    color: snow;
    border: 1px solid snow;
    transition: 1s ease-in;
    text-decoration: none;
}
.login-form .input-box{
    padding: 10px;
    position: relative;
}

.login-form .input-box input{
    width: 100%;
    padding: 5px 10px;
    font-size: 16px;
    color: deepskyblue;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid deepskyblue;
    outline: none;
    background: transparent;
}
.login-form .input-box label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px 10px;
    font-size: 16px;
    color: deepskyblue;
    pointer-events: none;
    transition: 0.5s;
}

.login-form .input-box input:focus ~ label,
.login-form .input-box input:valid ~ label{
    top: -20px;
    left: 0;
    color: snow;
    font-size: 13px;
}
.login-form .input-box input:focus,
.login-form .input-box input:valid{
    background: rgba(98, 193, 255, 0.1);
    border: 1px solid deepskyblue;
    color: white;
}

.alert-container{
    padding: 100px 450px;
}

.error-dialogue-box{
    border: 5px groove deepskyblue;
    padding: 20px 10px;
    color: white;
    opacity: 1;
    background: linear-gradient(to top, black, darkblue, blue, deepskyblue);
}
.error-dialogue-box a{
    opacity: 1;
    color: deepskyblue;
}
.error-dialogue-box a:hover{
    transition: 0.4s ease-in;
    color: darkred;
    opacity: 2;
}